.header {
	display: flex;

	justify-content: space-between;
	align-items: center;

	background-color: #ffffff;
	border-radius: 16px;
	height: 80px;
	padding: 0 40px;
}

.logo {
	width: 75px;
	height: 75px;
}

.actionPanel {
	display: flex;
	flex: 1;
	justify-content: center;
	gap: 50px;
}


.actionButton {
	background-color: #ebe7e7;

	width: 150px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;

	border: none;
	border-radius: 16px;

	font-size: 16px;
}
.actionButton:hover {
	background-color: #c6bbbb;
}
.actionButton:active {
	border: 1px solid black;
	background-color: white;
}
.userProfileAvatar {
	width: 75px;
	height: 75px;
}


.link {
    text-decoration: none;
}