.footer{
    display: flex;

    border: none;

    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;


    background-color: #FAF0E6;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;

    gap: 0.5px;
}