.signInForm{
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 2vw, 10px);
}
.signInLabel{
    display: flex;
    flex-direction: column;
    font-size: clamp(20px, 2vw, 25px);
    font-weight: 400;
    gap: 10px;
}
.signInInput{
    width: 480;
    height: 50px;
    border-radius: 16px;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 1;
    border-width: 2px;
    
}

.signInSentButton{
    width: 200;
    height: 70px;
    border-radius: 20px;
    opacity: 1;
}
.signInDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.SignInImage{
    width: 600;
    height: 600;
}
.signInRegistration{
     font-size: clamp(20px, 2vw, 25px);
    font-weight: 400;
}