.signInDiv {
    display: flex;
    width: 100%;
    min-height: 80vh;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.signInForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    flex-shrink: 0;
}

.signInLabel {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 8px;
    width: 100%;
}

.signInInput {
    font-size: 1.1rem;
    width: 100%;
    background-color: #f7f2f2;
    padding: 14px 18px;
    border: 1px solid #000;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
}

.signInInput:focus {
    border-color: rgba(152, 80, 61, 1);
}

.SignInImage {
    width: 35%;
    min-width: 350px;
    max-width: 550px;
    height: auto;
}

.sigInRegistration {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
}

.signInSentButton {
    align-self: center;
    border: none;
    padding: 14px 60px;
    background-color: #ebe7e7;
    cursor: pointer;
    border-radius: 12px;
    font-size: 18px;
    transition: all 0.3s;
    margin-top: 15px;
}

.signInSentButton:hover {
    background-color: #d1cdcd;
}

.error {
    color: #c80b0b;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: center;
}