.container {
	display: flex;
	justify-content: space-between;
	width: 90vw;
}

.productsBlock {
	flex: 1;
	display: flex;
	gap: 10px;
	flex-direction: column;
	padding: 10px 5px;
}

.productTitle {
	font-size: clamp(28px, 2vw, 36px);
}

.products {
	display: flex;
	gap: 50px;
	flex: 1;
	padding: 10px;
	flex-wrap: wrap;
}
.searchBlock {
	/* display: flex;
	flex-direction: column; */
	position: relative;
	height: clamp(20px, 2vw, 40px);
	padding: 10px 0;
	width: clamp(200px, 4vw, 400px);
	/* backgroun */
}
.search {
	width: 100%;
	height: clamp(20px, 2vw, 40px);
	background-color: rgba(235, 231, 231, 1);
	padding: clamp(8px, 2vw, 10px);
	border: none;
	border-radius: 16px;
	font-size: clamp(15px, 1vw, 20px);
	outline: none;
}
.searchIcon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-10%);
	align-self: center;
	/* bottom: 5px; */
	height: clamp(12px,2vw,24px);
	width: clamp(12px,2vw,24px);
}
.search::placeholder{
	padding: clamp(8px, 2vw, 10px) 0;
}
.filterBlock {
	display: -ms-flexbox;
	border-right: 1px solid black;
	height:100%;
	padding: clamp(5px, 2vw, 10px) clamp(15px, 2vw, 20px);
}
.selectCategory {
	display: flex;
	flex-direction: column;
	margin-top: clamp(24px, 2vw, 30px);
}

.allCategories {
	display: flex;
	flex-direction: column;
	gap: clamp(8px, 2vw, 10px);
	/* font-size: clamp(18px, 2vw, 20px); */
}

.inputLabel {
	font-size: clamp(18px, 2vw, 20px);
}
