.titleMain{
    font-size: clamp(40px, 44px, 48px);
    font-weight: 400;
    
}
.image{
    width: 600px;
    height: 600px;
    border-radius: 16px;
}
.mainDiv{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;

}
.Main{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 16px;
}
